.hero {
    background: url(./hero.png);
    min-height: 600px;
    height: 85vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.hero h1 {
    color: white;
    font-size: 6rem;
    padding: 2rem 0 0 8rem;
}

.hero em {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive;
    font-size: 4rem;
    line-height: .8;
    color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
    margin-left: 6rem;
}

.hero em:hover {
    box-shadow: 0px -1px 50px 6px rgba(240, 229, 229, 0.75);
    -webkit-box-shadow: 0px -1px 50px 6px rgba(240, 229, 229, 0.75);
    -moz-box-shadow: 0px -1px 50px 6px rgba(240, 229, 229, 0.75);
}