.imagen {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
}

.box{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.parrafoPaper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.imagenTitulo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


