.error-container{
  text-align: center;
}

.titulo{
  color: black;
  font-size: 10rem;
  font-weight: 300;
}

.subtitulo{
  color: rgba(0, 0, 0, 0.279);
  font-size: 2rem;
  font-weight: 300;
}

.return {
  font-size: 2rem;
  font-weight:900;
  margin: 0;
}

