.error-container{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
  text-align: center;

}

.titulo{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
  color: black;
  font-size: 5rem;
  font-weight: 300;
}

.subtitulo{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.279);
  font-size: 2rem;
  font-weight: 300;
}

.return {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight:900;
}

